@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
/* CSS RESET CODE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
html {
  font-size: 62.5%;
}
/* CSS VARIABLES */
:root {
  --color-bg: #f4d04e;
  --color-grey-950: #111111;
  --color-grey-500: #6b6b6b;
  --color-bg-card: #ffffff;
  --ft-sz-1: 800 2.4rem/1.5 "Figtree", serif;
  --ft-sz-2: 500 1.6rem/1.5 "Figtree", serif;
  --ft-sz-3: 400 1.4rem/1.5 "Figtree", serif;
  --ft-sz-4: 800 1.2rem/1.5 "Figtree", serif;
  --ft-sz-5: 800 2rem/1.5 "Figtree", serif;
  --ft-sz-6: 800 1.4rem/1.5 "Figtree", serif;
}
/* GENERAL CSS CODE */
body {
  background: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2.4rem;
}
/* STYLE CARD */
.card {
  background: var(--color-bg-card);
  padding: 2.4rem;
  border-radius: 20px;
  box-shadow: 8px 8px var(--color-grey-950);
  border: 1px solid var(--color-grey-950);
}
.card.wrapper {
  max-width: 38.4rem;
}
.category {
  width: max-content;
  padding: 0.4rem 0.8rem;
  background: var(--color-bg);
  font: var(--ft-sz-6);
  color: var(--color-grey-950);
  line-height: inherit;
  border-radius: 4px;
}
.card-body a {
  font: var(--ft-sz-1);
  text-decoration: none;
  color: var(--color-grey-950);
  display: inline-block;
}
.card-body main p {
  font: var(--ft-sz-2);
  color: var(--color-grey-500);
}
.card-body header p {
  font: var(--ft-sz-3);
  font-weight: 400;
}
.card-bottom p {
  font: var(--ft-sz-4);
}
/* POSITIONING THE CONTENT INSIDE THE CARD */
.card {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.mb {
  margin-bottom: 1.2rem;
}
.card-bottom figure {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
/* CSS IMAGE */
.author-image {
  width: 32px;
}
.illustration-img {
  border-radius: 10px;
}
/* ADD HOVER, FOCUS and VISITED STATE */
.card-body a:visited {
  color: var(--color-grey-950);
}
.card-body a:hover,
.card-body a:focus {
  color: var(--color-bg);
}
@media screen and (max-width:424px) {
  .card-body header p {
    font: var(--ft-sz-4)
  }
  .card-body main a {
    font: var(--ft-sz-5)
  }
  .card-body main p {
    font:var(--ft-sz-3)
  }
  .category {
    font: var(--ft-sz-4)
  }
}
