/* CSS RESET CODE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
html {
  font-size: 62.5%;
}
/* figtree-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Figtree";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/figtree-v6-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* figtree-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Figtree";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/figtree-v6-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* figtree-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Figtree";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/figtree-v6-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* CSS VARIABLES */
:root {
  --color-bg: #f4d04e;
  --color-grey-950: #111111;
  --color-grey-500: #6b6b6b;
  --color-bg-card: #ffffff;
  --ft-sz-1: 2.4rem;
  --ft-sz-2: 1.6rem;
  --ft-sz-3: 1.4rem;
  --ft-sz-4: 1.2rem;
  --ft-sz-5: 2rem;
  --ft-sz-6: 1.4rem;
  --ft-sz-7: 1.2rem;
}
/* GENERAL CSS CODE */

body {
  background: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2.4rem;
  font-family: "Figtree", serif;
}
/* STYLE CARD */
.card {
  background: var(--color-bg-card);
  padding: 2.4rem;
  border-radius: 20px;
  box-shadow: 8px 8px var(--color-grey-950);
  border: 1px solid var(--color-grey-950);
}
.card.wrapper {
  max-width: 38.4rem;
}
.category {
  width: max-content;
  padding: 0.4rem 0.8rem;
  background: var(--color-bg);
  font-size: var(--ft-sz-4);
  font-size: clamp(var(--ft-sz-4), 1.13rem + 0.19vw, var(--ft-sz-3));
  color: var(--color-grey-950);
  line-height: 1.5;
  border-radius: 4px;
  font-weight: 800;
}
.card-body a {
  font: var(--ft-sz-1);
  font-size: var(--ft-sz-5);
  font-size: clamp(var(--ft-sz-5), 1.86rem + 0.38vw, var(--ft-sz-1));
  text-decoration: none;
  color: var(--color-grey-950);
  display: inline-block;
  font-weight: 800;
  line-height: 1.5;
}
.card-body main p {
  font-size: var(--ft-sz-3);
  font-size: clamp(var(--ft-sz-3), 1.33rem + 0.19vw, var(--ft-sz-2));
  color: var(--color-grey-500);
  line-height: 1.5;
}
.card-body header p {
  font-size: var(--ft-sz-4);
  font-size: clamp(var(--ft-sz-4), 1.13rem + 0.19vw, var(--ft-sz-3));
  font-weight: 400;
  line-height: 1.5;
}
.card-bottom p {
  font-size: var(--ft-sz-4);
  font-weight: 800;
}
/* POSITIONING THE CONTENT INSIDE THE CARD */
.card {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.mb {
  margin-bottom: 1.2rem;
}
.card-bottom figure {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
/* CSS IMAGE */
.author-image {
  width: 32px;
}
.illustration-img {
  border-radius: 10px;
}
/* ADD HOVER, FOCUS and VISITED STATE */
.card-body a:visited {
  color: var(--color-grey-950);
}
.card-body a:hover,
.card-body a:focus {
  color: var(--color-bg);
}
